/* Centrar y organizar las tarjetas */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las tarjetas */
  gap: 16px; /* Espacio entre tarjetas */
}

/* Estilo de las tarjetas */
.example-card {
  width: 300px; /* Tamaño consistente para todas las tarjetas */
  margin-bottom: 20px; /* Espacio inferior entre tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras suaves */
  transition: transform 0.3s ease; /* Animación al pasar el ratón */
}

.example-card:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

/* Estilo del título */
.title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  color: #31339c;
}

/* Estilo del botón */
.btn {
  display: block;
  width: 80%;
  padding: 10px 20px;
  background-color: #31339c;
  color: white;
  text-align: center;
  border: none;
  border-radius: 25px;
  margin: 20px auto;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #5052b2;
  transform: translateY(-3px); /* Efecto de elevar botón */
}

/* Imagen dentro de las tarjetas */
mat-card-sm-image {
  height: 150px;
  object-fit: contain; /* Asegura que las imágenes se ajusten sin distorsionarse */
}
